# Vonage Voice API
VONAGE_APPLICATION_ID=your_vonage_application_id
VONAGE_PRIVATE_KEY_PATH=./private.key
VONAGE_VIRTUAL_NUMBER=your_vonage_number_e164_no_plus

# Deepgram Voice Agent API

DEEPGRAM_API_KEY=your_deepgram_api_key
DEEPGRAM_VOICE_AGENT_ENDPOINT=agent.deepgram.com/v1/agent/converse
DEEPGRAM_AGENT_SPEAK=aura-orion-en

# Call settings
MAX_CALL_DURATION=300